@tailwind base;
@tailwind components;
@tailwind utilities;

/* .react-tabs__tab-list {
    border:none !important;
    border-bottom:3px solid rgb(74, 74, 74) !important;
    margin: 0 0 10px;
    padding: 0;
}
.react-tabs__tab {
    display: inline-block;
    border: 5px solid transparent !important;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
} */

.swiper-button-next,.swiper-button-prev{
    background-color: white;
    padding: 10px;
}